body {
    margin: 0;
    padding: 13px;
    position: relative;
}

form {
    position: absolute;
    background-color: white;
    top: 0;
    left: 0;
    right: 0;
    bottom: 90%;
}

html {
    font-family: sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.add-gests {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

/* label {
    background-color: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    border: none;
    padding-block-end: 18px;
    padding-block-start: 19px;
} */

.input {
    border: none;
    padding-block-end: 18px;
    padding-block-start: 19px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    width: 100%;
    margin-block-end: 1px; 
}

.input-add {
    background-color: #FFFFFF;
    box-shadow: 0px 1px 0px 1px rgba(0, 0, 0, 0.1);
    border: none;
    padding-block-end: 18px;
    padding-block-start: 19px;
    border-radius: 16px;
    width: 100%;
}

button {
    text-align: center;
    border: none;
    background-color: transparent;
}

.searchBtn {
    background: rgba(235, 87, 87, 0.9);
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-block-end: 15px;
    padding-block-start: 15px;
    padding-inline-end: 25px;
}

.searchBtn svg {
    fill: white;
    padding-inline-start: 25px;
}

.formDiv {
    background-color: #FFFFFF;
    /* box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1); */
    border-radius: 16px;
    border: none;
    padding-block-end: 18px;
    padding-block-start: 19px;
}

/* .select {
    border: none;
    padding-block-end: 18px;
    padding-block-start: 19px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    width: 100%;
    margin-block-end: 1px;    
}

.addInput {
    background-color: #FFFFFF;
    box-shadow: 0px 1px 0px 1px rgba(0, 0, 0, 0.1);
    border: none;
    padding-block-end: 18px;
    padding-block-start: 19px;
    border-radius: 16px;
    width: 100%;
} */

.openButton {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.logo {
    padding-block-end: 39px;
}


img {
    width: 100%;
    height: auto;
    border-radius: 24px;
}

.super-host {
    border: 1px solid #4F4F4F;
    box-sizing: border-box;
    border-radius: 12px;
    padding-block-end: 6px;
    padding-block-start: 7px;
    padding-inline-start: 10px;
    padding-inline-end: 9px;
}

.entire-apartment {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.rooms {
    font-size: 14px;
    line-height: 17px;
    color: #828282;
}

.rate {
    display: flex;
    flex-direction: row;
    align-items: center;
}

svg {
    fill: #EB5757;
}

.span1 {
    text-align: center;
    border: none;
    padding-block-end: 18px;
    padding-block-start: 19px;
    padding-inline-start: 18px;
    padding-inline-end: 18px;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}

.span2 {
    background-color: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
    border: none;
    padding-block-end: 18px;
    padding-block-start: 19px;
    padding-inline-end: 18px;
    padding-inline-start: 18px;
    text-align: center;
}

.span3 {
    text-align: center;
    border: none;
    padding-block-end: 5px;
    padding-block-start: 19px;
    padding-inline-end: 10px;
    padding-inline-start: 10px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
}

@media(min-width: 800px) {
    main {
        padding-inline-start: 96px;
        padding-inline-end: 95px;
    }

    .formDiv {
        display: flex;
        flex-direction: row;
    }
    
    .div-layout {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 34px;
    }

    .logo {
        padding-block-end: 0;
    }
}